# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build files
/build

# Static Site Generation and Server Side Rendering files
.env*.local
.env*.development.local
.env*.test.local
.env*.production.local

# Temp files
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# IDE / Editor specific metadata
.project
.classpath
.c9/
*.launch
.settings/
*.tmproj
*.esproj
*.dtproj

# User-specific files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of storybook build
/storybook-static

# Environment variables not to be committed
*.env

# Optional Prettier cache
.prettiercache 